<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
		<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
		<!--<%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>-->		
	</head>
	<body>
		<%= yield %>
	</body>
</html>